/*
    Base Grid
*/
body {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--s3);
    grid-template-areas: 
        "header" 
        "main" 
        "sidebar"    
        "nav" 
        "footer";
}

.site-header { grid-area: header; }
.site-main { grid-area: main; }
.site-sidebar { grid-area: sidebar; }
.site-nav { grid-area: nav; }
.site-footer { grid-area: footer; }

.site-header,
.site-main,
.site-sidebar,
.site-nav {
    padding: 0 var(--s1);
}

.site-header {
    display: flex;
}

.site-header .site-header-title {
    margin: auto; 
}

.site-header .site-title {
    font-family: ConcourseBlack;
    font-size: var(--s4);
}

.site-nav {
    font-family: var(--font-caption);
}

.site-footer {
    background-color: var(--color-black);
    color: var(--color-white);
    padding: var(--s1);
}

.site-footer a {
    color: var(--color-white);
    text-decoration: none; 
}

@media only screen and (min-width: 800px) {
    body {
        grid-template-columns: repeat(8, minmax(0, 1fr));
        grid-template-areas: 
            "header header  header  header  header  header  header  header" 
            "nav    nav     main    main    main    main    sidebar sidebar" 
            "footer footer  footer  footer  footer  footer  footer  footer";
        row-gap: var(--s1);
    }

    .site-header .site-header-nav-link {
        display: none;
    }

    .site-header,
    .site-main,
    .site-sidebar {
        padding: 0;
    }
}



/* Box */
.box {
    padding: var(--s1);
    border: var(--border-thick) solid var(--color-black);
    color: var(--color-black);
    background-color: var(--color-white);
}

.box * {
    color: inherit;
}

.box.invert {
    color: var(--color-white);
    background-color: var(--color-black);
}



/* Stack */
[class^='stack'] {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

[class^='stack'] > * {
    margin-top: 0;
    margin-bottom: 0;
} 

[class^='stack'] > * + * {
    margin-top: var(--space);
}

.stack {
    --space: var(--s1);
}

.stack.cards {
    --space: var(--s3);
}

.stack-small {
    --space: var(--s0);
}

.stack-large {
    --space: var(--s3);
}


/* Icon */
.icon {
    width: 0.75em;
    width: 1cap;
    height: 0.75em;
    height: 1cap;
}



/* Card */
.card {
    box-shadow: 0 var(--shadow-thickness) var(--color-black);
}

.card a {
    white-space: initial;
}

.card .review-work {
    font-weight: bold;
}

.card img {
    max-width: 100%;
}

.sidebar-card {
    display: grid;
    grid-template-columns: 1fr 7em;
    column-gap: var(--s1);
    grid-template-areas: 
        "cardbody   cardsidebar";
}

.card-body { grid-area: cardbody; }
.card-sidebar { grid-area: cardsidebar; }

.card-sidebar {
    font-variant-numeric: lining-nums;
}

.card-sidebar a {
    text-decoration: none;
}




/* Post */
.post-header .post-date {
    font-variant-numeric: lining-nums; 
}



/* Article */
.article img {
    height: auto;
    max-width: 100%;
    width: auto; 
}

.article p:first-of-type::first-line {
    font-variant-caps: small-caps;
    font-weight: bold;
}

.article .iframe-container {
    position: relative;
    padding-top: 56%; 
}

.article iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
}
  


/* Note */
.card.note {
    grid-template-areas: 
        "date   body" 
        "author body";
}



/* Podcast Subscriptions */
.podcast-subscriptions article {
    display: grid;
    grid-template-areas: 
        "album body"
        "meta  body";
    grid-template-columns: 6em 1fr;
    column-gap: 1em;
}

.podcast-subscriptions .album { grid-area: album; }
.podcast-subscriptions .meta { grid-area: meta; }
.podcast-subscriptions .body { grid-area: body; }

.podcast-subscriptions img {
    max-width: 100%;
}

.podcast-subscriptions h3 {
    margin-top: 0;
}

.podcast-subscriptions .comments {
    font-style: italic;
}



/* Pagination */
.pagination ol {
    display: flex;
}

.pagination li {
    width: 2em;
}

.pagination .current-page {
    text-decoration: none;
}