/*
    Base Grid
*/
body {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--s3);
    grid-template-areas: 
        "header" 
        "main" 
        "sidebar"    
        "nav" 
        "footer";
}

.site-header,
.site-main,
.site-sidebar,
.site-nav {
    padding: 0 var(--s1);
}

.site-header {
    grid-area: header; 
}
  
.site-main {
    grid-area: main; 
}

.site-sidebar {
    grid-area: sidebar;
}

.site-nav {
    grid-area: nav;
}

.site-footer {
    grid-area: footer; 
}

.site-header {
    display: flex;
}

.site-header .site-header-title {
    margin: auto; 
}

.site-header .site-title {
    font-family: ConcourseBlack;
    font-size: var(--s4);
}

@media only screen and (min-width: 800px) {
    body {
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas: 
            "header header  header  header  header  header" 
            "nav    main    main    main    sidebar sidebar" 
            "footer footer  footer  footer  footer  footer";
    }

    .site-header .site-header-nav-link {
        display: none;
    }
}

.site-nav li {
    list-style-type: none; 
}

.site-footer {
    background-color: var(--color-black);
    color: var(--color-white);
    padding: var(--s1);
}

.site-footer a {
    color: var(--color-white);
    text-decoration: none; 
}



/* Stack */
.stack {
    --space: var(--s1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
  
.stack > * {
    margin-top: 0;
    margin-bottom: 0;
} 
  
.stack > * + * {
    margin-top: var(--space);
}



/* Posts */
.post-header .post-date {
    font-variant-numeric: lining-nums; 
}



/* Articles */
.article img {
    height: auto;
    max-width: 100%;
    width: auto; 
}
  
.article p:first-of-type::first-line {
    font-variant-caps: small-caps;
    font-weight: bold;
}

.article .iframe-container {
    position: relative;
    padding-top: 56%; 
}

.article iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
}
  


/* Notes */
.notes.stack {
    --space: var(--s4);
}