---
permalink: "css/theme.css"
---

:root {
  {% for author in metadata.authors -%}
    --color-{{author | lower}}: {{ tokens['color' + author] }};
  {%- endfor %}
}

{% for author in metadata.authors %}
  ul li:nth-of-type(5n + {{loop.index}})::marker {
    color: var(--color-{{author | lower}});
  }

  .{{author | lower}} a {
    text-decoration-color: var(--color-{{author | lower}});
  }
{% endfor %}