---
permalink: "css/theme.css"
---

:root {
  --colorBrian: {{ tokens.colorBrian }};
  --colorMelissa: {{ tokens.colorMelissa }};
  --colorLydia: {{ tokens.colorLydia }};
  --colorAmber: {{ tokens.colorAmber }};
  --colorPenny: {{ tokens.colorPenny }};
}