---
layout: base
pagination:
  data: collections.articlesByYear
  size: 1
  alias: yearOfArticles
permalink: /articles/{{yearOfArticles.year}}/
---
<h1>Articles {{yearOfArticles.year}}</h1>

{% set articles = yearOfArticles.articles %}
{% include "macros/articles.njk" %}