<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>kodex</title>
        <meta name="description" content="kodex, the Koser family website">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <meta property="og:title" content="kodex" />
        <meta property="og:description" content="The Koser family website" />
    </head>
    <body>
        Coming soon
    </body>
</html>