---
layout: page
pagination:
   data: books
   size: 1
   alias: book
permalink: "books/{{ book.slug}}/"
eleventyComputed:
  title: "{{book.title}}"
---

{% if imageurl -%}
  <img src="{{book.imageurl}}">
{%- endif %}

<div class="stack">
  <table class="vertical">
    <tbody>
      <tr>
        <th>Author</th>
        <td>{{book.author | distinct(', ')}}</td>
      </tr>
      <tr>
        <th>Published</th>
        <td>{{book.publicationyear}}</td>
      </tr>
      <tr>
        <th>Pages</th>
        <td>{{book.pagecount}}</td>
      </tr>
      <tr>
        <th>ISBN</th>
        <td>{{book.isbn13}}</td>
      </tr>
      <tr>
        <th>Links</th>
        <td><a href="{{book.goodreadsbookurl}}">Goodreads</a></td>
      </tr>
    </tbody>
  </table>

  <div class="stack cards">
  {% for review in book.reviews -%}
    {% bookreviewcard review %}
  {%- endfor %}
  </div>
</div>