---
layout: books
title: Brian's Books · Years of Reading
permalink: /books/brian/years/index.html
---

{% set currentYear = 'year' | today %}
<sl-tab-group>
{%- for year in range(metadata.goodreads_first_reread_year, currentYear + 1) | reverse -%}
{%- if year == currentYear %}
<sl-tab slot="nav" panel="books-read-{{ year }}" active>{{ year }}</sl-tab>
{%- else %}
<sl-tab slot="nav" panel="books-read-{{ year }}">{{ year }}</sl-tab>
{%- endif %}
{%- endfor %}

{% for yearShelf in goodreadsBrianYearsRead -%}
    <sl-tab-panel name="books-read-{{ yearShelf.year }}">
        <div class="bookgrid">
        {% for book in yearShelf -%}
            {% goodreadsbook book %}
        {%- endfor %}
        </div>
    </sl-tab-panel>
{%- endfor %}

</sl-tab-group>