---
layout: page
title: All
pagination:
   data: collections.all
   size: 50
feed: /feed.xml
---

{# todo: paginate by year #}
<div class="stack cards">
{% for item in pagination.items -%}
    {% if item.data.cardType == 'article' %}
    {% articlecard item %}
    {% elif item.cardType == 'bookreview' %}
    {% bookreviewcard item %}
    {% elif item.cardType == 'feedbin' %}
    {% feedbincard item %}
    {% elif item.cardType == 'note' %}
    {% notecard item %}{{ item.templateContent | safe }}{% endnotecard %}
    {% elif item.cardType == 'podcast' %}
    {% podcastcard item %}
    {% else %}
    {{ item.data.cardType or 'none' }}
    {% endif %}
{%- endfor %}
</div>

{# todo: move pagination into a macro to reduce duplication #}
<nav class="pagination" aria-labelledby="my-pagination">
  <h3 id="my-pagination">Pages</h3>
  <ol>
{%- for pageEntry in pagination.pages %}
    <li><a href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page" class="current-page" {% endif %}>{{ loop.index }}</a></li>
{%- endfor %}
  </ol>
</nav>