---
permalink: "css/theme.css"
---

:root {
  {% for author in metadata.authors -%}
    --color-{{author | lower}}: {{ tokens['color' + author] }};
  {%- endfor %}
}

{% for author in metadata.authors %}
  ul li:nth-of-type(5n + {{loop.index}})::marker {
    color: var(--color-{{author | lower}});
  }

  .{{author | lower}} a {
    text-decoration-color: var(--color-{{author | lower}});
  }

  .{{author | lower}} dl {
    border-left-color: var(--color-{{author | lower}});
  }

  .{{author | lower}} input {
    accent-color: var(--color-{{author | lower}});
  }

  .{{author | lower}} .stars {
    color: var(--color-{{author | lower}});
  }

  .{{author | lower}}-color {
    color: var(--color-{{author | lower}});
  }

  .card.{{author | lower}} {
    box-shadow: 0 var(--shadow-thickness) var(--color-{{author | lower}});
  }
{% endfor %}

.dark h1 {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
}