---
permalink: articles/feed.xml
eleventyExcludeFromCollections: true
metadata:
    title: kodex Articles
    subtitle: Essays by Brian and Melissa Koser
    url: https://koser.us/
    feedUrl: https://koser.us/feeds/articles.xml
    author:
        name: Brian Koser
        email: brian@koser.us
---
<?xml version="1.0" encoding="utf-8"?>
<!--<?xml-stylesheet href="/css/pretty-feed-v3.xsl" type="text/xsl"?>-->
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.subtitle }}</subtitle>
  <link href="{{ metadata.feedUrl }}" rel="self"/>
  <link href="{{ metadata.url }}"/>
  <updated>{{ collections.publishedArticles | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ metadata.url }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
    <email>{{ metadata.author.email }}</email>
  </author>
  {%- for post in collections.publishedArticles | reverse %}
  {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
  </entry>
  {%- endfor %}
</feed>