---
layout: page
title: Notes
feed: /notes/feed.xml
---
<div class="stack cards notes">
{% for note in collections.publishedNotesFeedbin | reverse -%}
    {% if note.feed_id != undefined %}
    {% feedbincard note %}
    {% else %}
    {% notecard note %}{{ note.templateContent | safe }}{% endnotecard %}
    {% endif %}
{%- endfor %}
</div>