
    .theme-color-0 {
      --layer1: #92b5e4;
      --stroke: #2e4369;}
    
    .theme-color-1 {
      --layer1: #dde5f4;
      --stroke: #2e4369;}
    
    .theme-color-2 {
      --layer4: #e8ddc9;
      --layer1: #ef5940;
      --layer3: #c3d2e0;
      --layer2: #bb806c;
      --stroke: #2e4369;}
    
    .theme-color-3 {
      --layer3: #9cf;
      --layer2: #53a9ff;
      --layer1: #f66b51;
      --stroke: #2e4369;}
    
    .theme-color-4 {
      --layer2: #f27e7c;
      --layer1: #fff;
      --stroke: #2e4369;}
    
    .theme-color-5 {
      --layer1: #e0eafc;
      --stroke: #2e4369;}
    
    .theme-color-6 {
      --layer2: #7b8baf;
      --layer1: #cbd8e6;
      --stroke: #2e4369;}
    
    .theme-color-7 {
      --layer1: #536897;
      --stroke: #2e4369;}
    
    .theme-color-8 {
      --layer1: #e1f4f3;
      --stroke: #2e4369;}
    
    .theme-color-9 {
      --layer2: #e0eafc;
      --layer1: #78d1f4;
      --stroke: #2e4369;}
    
    .theme-color-10 {
      --layer2: #ff7e63;
      --layer1: #e0eafc;
      --stroke: #2e4369;}
    
    .theme-color-11 {
      --layer3: #7b8baf;
      --layer2: #8fa9d8;
      --layer1: #536897;
      --stroke: #2e4369;}
    
    .theme-color-12 {
      --layer3: #f26161;
      --layer1: #fff;
      --layer2: #485a7b;
      --stroke: #2e4369;}
    
    .theme-color-13 {
      --layer2: #f26161;
      --layer1: #fff;
      --stroke: #2e4369;}
    
    .theme-color-14 {
      --layer4: #7b8baf;
      --layer3: #8fa9d8;
      --layer2: #d1ebf7;
      --layer1: #fff;
      --stroke: #2e4369;}
    
    .theme-color-15 {
      --layer1: #de9473;
      --stroke: #2f446a;}
    
    .theme-color-16 {
      --layer2: #99dbff;
      --layer1: #91aadc;
      --stroke: #2e4369;}
    
    .theme-color-17 {
      --layer4: #d1ebf7;
      --layer3: #fff432;
      --layer1: #f7f9fc;
      --layer2: #92d5b5;
      --stroke: #2e4369;}
    
    .theme-color-18 {
      --layer1: #8fa9d8;
      --stroke: #2e4369;}
    
    .theme-color-19 {
      --layer1: #fc6;
      --layer2: #f27e7c;
      --stroke: #2e4369;}
    
    .theme-color-20 {
      --layer3: #87d3ff;
      --layer2: #3db47b;
      --layer1: #f26161;
      --stroke: #2e4369;}
    
    .theme-color-21 {
      --layer1: #8ca0c8;
      --stroke: #2e4369;}
    
    .theme-color-22 {
      --layer3: #3dd1fe;
      --layer2: #78d1f4;
      --layer1: #a5d0ec;
      --stroke: #2e4369;}
    
    .theme-color-23 {
      --layer1: #fc6;
      --stroke: #2e4369;}
    