---
layout: base
tags:
  - article
cssFiles:
  - components/dialog
  - components/hr
  - components/youtube
permalink: "articles/{{page.date | year}}/{{page.date | month | padZeroes(2)}}/{{page.date | day | padZeroes(2)}}/{{dateId}}/{{page.fileSlug}}/"
---
<article class="article stack">
    <header>
        <h1>{{ title }}</h1>
        <span class="post-header">
            <span class="post-author">{{ authors | join(", ") }}</span>
            <span class="post-date">· {{ page.date | readableDate }}</span>
            {% if last_updated %}<span class="post-update-date">· Updated {{ last_updated | readableDate }}</span>{% endif %}
        </span>
    </header>

    {% if header_image -%}
        <img src="{{ metadata.cdn_url }}{{ metadata.journal_img_path }}{{ header_image }}" class="article-header-image">
    {%- endif %}

    <div class="article-body stack-small">
        {{ content | safe }}
    </div>
</article>

{% set nextPost = collections.publishedArticles | getNextCollectionItem %}
{% set previousPost = collections.publishedArticles | getPreviousCollectionItem %}

<footer class="article-footer">
    <nav>
{% if previousPost %}
<div class="previous">
    <span class="{{author | lower}}-color">←</span> <a href="{{previousPost.url}}">{{previousPost.data.title}}</a>
</div>
{% endif %}

{% if nextPost %}
<div class="next">
    <a href="{{nextPost.url}}">{{nextPost.data.title}}</a> <span class="{{author | lower}}-color">→</span>
</div>
{% endif %}
    </nav>
</footer>