<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% if title != null %}{{ title }} ·{% endif %} kodex</title>
    <meta name="description" content="{{ description }}">

    <meta property="og:locale" content="en_US">
    <meta property="og:site_name" content="koser.us">
    <meta property="og:type" content="{{ ogtype or "website" }}">
    <meta property="og:url" content="{{ page.url }}">
    <meta property="og:title" content="{{ title or "kodex" }}" />
    <meta property="og:description" content="{{ description or "The Koser family website" }}" />

    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="/img/favicons/site.webmanifest">
    <link rel="shortcut icon" href="/img/favicons/favicon.ico">
    <meta name="msapplication-config" content="/img/favicons/browserconfig.xml">
    <meta name="theme-color" content="hsl(32, 100%, 92%)">

    <link rel="stylesheet" href="/css/modern-normalize.css" />
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/layout.css" />
    <link rel="stylesheet" href="/css/boilerform.css" />
    <link rel="stylesheet" href="/css/theme.css" />
    <link rel="stylesheet" href="/css/utility.css" />
    {% for cssFile in cssFiles -%}
        <link rel="stylesheet" href="/css/{{ cssFile }}.css" />
    {% endfor %}

    <link rel="alternate" type="application/rss+xml" href="/feed.xml" title="All RSS">
    <link rel="alternate" type="application/rss+xml" href="/articles/feed.xml" title="Articles RSS">
    <link rel="alternate" type="application/rss+xml" href="/notes/feed.xml" title="Notes RSS">
</head>
<body class="{{ authors[0] | lower if (authors | length) == 1 }}">
    <header class="site-header">
        <div class="site-header-title">
            <span class="site-title">kodex</span>
        </div>
        <div class="site-header-nav-link">
            <a href="#siteNav" class="site-nav-link">Menu</a>
        </div>
    </header>
    <main class="container site-main">
        {{ content | safe }}
    </main>
    <aside class="site-sidebar">
        {% if feed %}
        <h1 class="h3">Follow</h1>
        {% icon 'rss' %} <a href="{{feed}}">RSS Feed</a>
        {% endif %}
    </aside>
    <nav class="site-nav">
        <ul id="siteNav" role="navigation">
            <li>{% icon "property" %} <a href="/">Home</a></li>
            <li>{% icon "healthcare" %} <a href="/about-us">Us</a></li>
            <li><ul role="navigation">
                <li>{% icon "dish-radio-antenna" %} <a href="/all">All</a></li>
                <li>{% icon "pen" %} <a href="/articles">Articles</a></li>
                <li>{% icon "book" %} <a href="/books/brian">Books</a></li>
                <li>{% icon "invoice" %} <a href="/notes">Notes</a></li>
                <li>{% icon "microphone" %} <a href="/podcasts">Podcasts</a></li>
                <li>{% icon "rss" %} <a href="/feeds">Follow</a></li>
            </ul></li>
            <li>{% icon "people" %} Others</li>
            <li><ul role="navigation">
                <li>{% icon "microphone" %} <a href="/podcasts/subscriptions">Podcasts</a></li>
            </ul></li>
        </ul>
    </nav>
    <footer class="site-footer">
        Words are © Brian &amp; Melissa Koser 2021 · Code is MIT Licensed · Good vibes are public domain
    </footer>
</body>
</html>