<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% if title != null %}{{ title }} ·{% endif %} kodex</title>
    <meta name="description" content="{{ description }}">

    <meta property="og:locale" content="en_US">
    <meta property="og:site_name" content="koser.us">
    <meta property="og:type" content="{{ ogtype or "website" }}">
    <meta property="og:url" content="{{ page.url }}">
    <meta property="og:title" content="{{ title or "kodex" }}" />
    <meta property="og:description" content="{{ description or "The Koser family website" }}" />

    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="/img/favicons/site.webmanifest">
    <link rel="shortcut icon" href="/img/favicons/favicon.ico">
    <meta name="msapplication-config" content="/img/favicons/browserconfig.xml">
    <meta name="theme-color" content="hsl(32, 100%, 92%)">

    <link rel="stylesheet" href="/css/modern-normalize.css" />
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/layout.css" />
    <link rel="stylesheet" href="/css/boilerform.css" />
    <link rel="stylesheet" href="/css/theme.css" />
    <link rel="stylesheet" href="/css/utility.css" />
    {% for cssFile in cssFiles -%}
        <link rel="stylesheet" href="/css/{{ cssFile }}.css" />
    {% endfor %}

    <link rel="alternate" type="application/rss+xml" href="/feed.xml" title="All RSS">
    <link rel="alternate" type="application/rss+xml" href="/articles/feed.xml" title="Articles RSS">
    <link rel="alternate" type="application/rss+xml" href="/notes/feed.xml" title="Notes RSS">
</head>
<body class="{{ authors[0] | lower if (authors | length) == 1 }}">
    <header class="site-header">
        <div class="site-header-title">
            <span class="site-title">kodex</span>
        </div>
        <div class="site-header-nav-link">
            <a href="#siteNav" class="site-nav-link">Menu</a>
        </div>
    </header>
    <main class="container site-main">
        {{ content | safe }}
    </main>
    <aside class="site-sidebar">
        <h2 class="h3">Word of the Day</h2>
        {% wordOfTheDay dictionary %}
        
        {% if feed %}
        <h2 class="h3">Follow</h2>
        {% icon 'rss' %} <a href="{{feed}}">RSS Feed</a>
        {% endif %}
    </aside>
    <nav class="site-nav">
        <ul id="siteNav" role="menu">
            <li role="menuitem">{% icon "property" %} <a href="/">Home</a></li>
            <li role="menuitem">{% icon "dish-radio-antenna" %} <a href="/all">All</a></li>
            <li role="menuitem">{% icon "pen" %} <a href="/articles">Articles</a></li>
            <li role="menuitem">{% icon "book" %} <a href="/books/brian">Books</a></li>
            <li role="menuitem">{% icon "cinema-projector" %} <a href="/films/brian">Films</a></li>
            <li role="menuitem">{% icon "invoice" %} <a href="/notes">Notes</a></li>
            <li role="menuitem">{% icon "microphone" %} <a href="/podcasts/subscriptions">Podcasts</a></li>
            <li role="menuitem"><img src="/img/tto.png" alt="TTO" class="icon"> <a href="/podcasts">Ten to One</a></li>
            <li>{% icon "people" %} Pages</li>
            <li>
                <ul role="menu">
                    <li role="menuitem">{% icon "pen" %} <a href="/butlerian-handbook">Butlerian Handbook</a></li>
                    <li role="menuitem">{% icon "book" %} <a href="/dictionary">Dictionary</a></li>
                    <li role="menuitem">{% icon "pen" %} <a href="/writing">Writing</a></li>
                </ul>
            </li>
            <li role="menuitem">{% icon "rss" %} <a href="/feeds">Follow</a></li>
        </ul>
    </nav>
    <footer class="site-footer">
        Words are © Brian &amp; Melissa Koser {{ 'year' | today }} · Code is MIT Licensed · Good vibes are public domain · Phase of the moon in North America is {{ moon.phaseToday().emoji }} · Terms of venery are commutative
    </footer>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.8.0/cdn/themes/light.css" />
    <script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.8.0/cdn/shoelace-autoloader.js"></script>
    <script src="https://tinylytics.app/embed/F9EyqBY-Yo7kHajBPyV2.js" defer></script>
</body>
</html>