---
layout: base
---
<nav class="books-nav">
    <ul id="booksNav" role="menu">
        <li role="menuitem"><a href="/books/brian">Currently Reading</a></li>
        <li role="menuitem"><a href="/books/brian/favorites">Favorites</a></li>
        <li role="menuitem"><a href="/books/brian/gifts">Gift Suggestions</a></li>
        <li role="menuitem"><a href="/books/brian/years">Years of Reading</a></li>
    </ul>
</nav>

<h1>{{ title }}</h1>

{{ content | safe }}