---
layout: base
tags:
  - note
cssFiles:
  - layouts/note
permalink: "notes/{{page.date | urlDate}}/"
---
<article class="note">
    <header>
        <span class="post-header">
            <span class="post-author">{{ author }}</span>
            <span class="post-date">· {{ page.date | readableDate }}</span>
            {% if last_updated %}<span class="post-update-date">· Updated {{ last_updated | readableDate }}</span>{% endif %}
        </span>
    </header>

    <div class="note-body">
        {% if image -%}
          <img src="{{ metadata.cdn_url }}{{ metadata.notes_img_path }}{{ image }}">
        {%- endif %}
        
        {% if contentUrl -%}
          <a href="{{ contentUrl }}">{{ contentUrl }}</a>
        {%- endif %}
        
        {{ content | safe }}
    </div>
</article>