---
layout: page
title: Articles
cssFiles:
  - layout/articles
---
<div class="article-list">
{%- for article in collections.article | reverse -%}
    <article class="h-entry">
        <header>
            <h2><a href="{{ article.url }}" class="p-name">{{ article.data.title }}</a></h2>
            <div class="post-header">
                <span class="post-author">{{ article.data.authors | join(", ") }}</span> ·
                <time class="post-date" datetime='{{ article.date | machineDate }}'>{{ article.date | readableDate }}</time>
                <p>{{ article.data.excerpt }}</p>
            </div>
        </header>
    </article>
{%- endfor -%}
</div>